@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Nunito:wght@300&family=Poppins:wght@300&family=Rampart+One&family=Sacramento&display=swap');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@media screen and (min-width: 700px) {
    body{

        position: absolute;
        display: flex;
        /* border: solid green; */
        height: 100vh;
    }
    
    header {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        width: 100%;
        background-image: linear-gradient(to right, #B7C3F3, #CF1259);
        /* box-shadow: 0 0 5px 0 grey; */
        font-family: "Raleway", Helvetica, sans-serif;
    }
    
    .logo {
    
        flex: 2;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px 5px;
    }
    
    .logo h1{
    
        color: #131B23;
        font-size: 35px;
        padding: 3px;
    }
    
    .logo img{
    
        padding: 3px;
    }
    
    .navbar {
    
        flex: 2;
        padding: 5px 5px;
    }
    
    .nav_links{
    
        display: flex;
        justify-content: flex-end;
    }
    
    .nav_links ul li{
    
        padding: 3px;
    }
    
    .nav_links li a{
    
        position: relative;
        color: #131B23;
        font-size: 17px;
        padding: 0 10px;
    }
    
    .nav_links li a::after{
    
        content: "";
        position: absolute;
        background-color:#F0F7F4;
        border-radius: 100px;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    
    .nav_links li a:hover{
     
        color: #F0F7F4;
    }
    
    .nav_links li a:hover::after{
     
        width: 100%;
    }
    
    .main {
    
        display: flex;
        flex-direction: row;
        min-height: calc(100vh - 108px - 66px);
        /* border: solid red; */
    }
    
    .content, .btn{
    
        display: flex;
        flex: 2;
        justify-content: flex-start;
    }
    
    .content {
    
        display: flex;
        flex: 3;
        flex-direction: column;
        height: 80vh;
        /* border: solid yellow; */
    }
    
    .dImage {
    
        display: flex;
        flex: 3;
        padding: 10px;
        justify-content: space-between;
        /* border: solid blue;*/
    } 
    
    .dImage img {
        
        height: 30vh;
    }
    
    .dLogo{
    
        display: flex;
        flex: 2;
        justify-content: flex-end;
        background-image: url('dLogo.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        width: 100%;
        /* border: solid brown; */
    }
    
    .content {
    
        padding: 50px;
        /* border: solid burlywood; */
    }
    
    .content q{
    
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
    }
    
    .content cite{
    
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: right;
    }
    
    .content p{
    
        line-height: 40px;
        text-align: left;
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
    }
    
    .btn {
    
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
        /* border: solid blueviolet; */
    }
    
    .btn button{
    
        height: 50px;
        width: 80%;
        font-family: "Raleway", Helvetica, sans-serif;
        color: #F0F7F4;
        font-size: 20px;
        background-color: #001242;
        text-align: center;
        border: none;
        border-radius: 50px;
    }
    
    .btn button:hover{
    
        background-color: #01172F;
    }
}

/* M O B I L E */

body{

    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* border: solid green; */
}

.container {

    display: flex;
    flex-direction: column;
}

header {

    display: flex;
    flex-direction: column;
    background-image: #B7C3F3;
    font-family: "Raleway", Helvetica, sans-serif;
    background: #B7C3F3;
}

.logo {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.logo h1{

    padding-left: 2.5px;
    text-shadow: 1px 1px 2px #0000008c;
}

.logo img{

    padding: 3px;
}

.navbar {

    display: flex;
    padding: 5px;
    background-color: #b86a8e98;
}

.nav_links {

    display: flex;
    padding: 5px;
    flex: 1;
    justify-content: center; 
}

.nav_links ul li{

    display: flex;
    padding: 3px;
    align-items: center;
}

.nav_links li a{

    color: #131B23;
    font-size: 17px;
    padding: 0 10px;
}

.nav_links li a::after{

    content: "";
    position: absolute;
    background-color:#F0F7F4;
    border-radius: 100px;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav_links li a:hover{
 
    color: #F0F7F4;
}

.nav_links li a:hover::after{
 
    width: 100%;
}

.main{

    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.content {

    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 20px;
    /* border: solid red; */
}

.dLogo {

    /* border: solid, indigo; */
    flex: 0;
}

.content blockquote{

    flex: 3;
    padding: 10px;
    justify-content: right;
    align-items: center;
    border: none;
    border-radius: 30px;
    background: #dd759610;
}

.content h5{

    display: flex;
    padding: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.content cite{

    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.content p{

    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
}

.dImage {

    flex: 3;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    padding: 5px;
    /* border: solid brown; */
}

/* .space {

    display: flex;
    flex-direction: column;
    padding: 5px;
} */

.dImage img {

    display: flex;
    flex: 1;
    height: 25vh;
}

.btn{

    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex: 3;
}

.btn button {

    padding: 20px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #F0F7F4;
    background-color: #508AA8;
    text-align: center;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
}

.btn button:hover {
    background-color: #C4E0F9;
    box-shadow: 0px 15px 20px #67AAF9;
    color: #fff;
    transform: translateY(-7px);
}




/* background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%); */

/* 392*648 */