@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Nunito:wght@300&family=Poppins:wght@300&family=Rampart+One&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Handlee&family=Shadows+Into+Light&display=swap');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* M O B I L E */

@media screen and (max-width: 600px) {
    
    body{

        position: relative;
        display: flex;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    
    .container {
    
        display: flex;
        flex-direction: column;
    }
    
    header {
    
        display: flex;
        flex-direction: column;
        background-image: #B7C3F3;
        font-family: "Raleway", Helvetica, sans-serif;
        background: #D3EEE7;
        color: #112C25;
    }
    
    .logo {
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
    }
    
    .logo h1{
    
        padding-left: 2.5px;
        text-shadow: 1px 1px 2px #0000008c;
    }
    
    .logo img{
    
        padding: 3px;
    }
    
    .navbar {
    
        display: flex;
        padding: 5px;
        background-color: #6CC6AE;
    }
    
    .nav_links {
    
        display: flex;
        padding: 5px;
        flex: 1;
        justify-content: center; 
    }

    .nav_links ul{
    
        position: relative;
        display: flex;
    }
    
    .nav_links ul li{
    
        display: flex;
        padding: 3px;
        align-items: center;
    }
    
    .nav_links li a{
    
        color: #131B23;
        font-size: 17px;
        padding: 0 10px;
    }
    
    .nav_links li a::after{
    
        content: "";
        position: absolute;
        background-color:#F0F7F4;
        border-radius: 100px;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    
    .nav_links li a:hover{
     
        color: #F0F7F4;
    }
    
    .nav_links li a:hover::after{
     
        width: 100%;
    }
    
    .main{
    
        position: relative;
        flex: 2;
        display: flex;
        flex-direction: column;
    }
    
    .content {
    
        display: flex;
        flex-direction: column;
        flex: 2;
        padding-top: 1px;
    }
    
    .content blockquote{

        display: flex;
        flex-direction: column;
        flex: 3;
        justify-content: center;
        background-image: url('background.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .content h5{
    
        display: flex;
        flex: 3;
        padding: 20px;
        justify-content: flex-start;
        align-items: center;
        color: #F6F4F6;
        font-size: 30px;
        font-family: 'Handlee', cursive;
        text-shadow: 2px 2px 5px #221C22;
    }

    .content cite{

        display: flex;
        justify-content: flex-end;
        padding: 5px 10px 5px 5px;
        color: #F6F4F6;
        font-size: 15px;
        font-family: 'Handlee', cursive;
        text-align: center;
        text-shadow: 2px 2px 5px #221C22;
    }

    .para {

        display: flex;
        flex: 3;
        background-image: linear-gradient(to bottom, #99d6c900, #fff);
        border: none;
        outline: none;
    }

    .content p{

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: center;
        color: #2BA189;
        text-shadow: 3px 3px 3px #DFF6F2;
        font-size: 15px;
        font-family: 'Delius', cursive;
        border: none;
        background-image: #A8DCD1;
    }
    
    .foot{
    
        display: flex;
        flex-direction: row;
        flex: 2;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    } 

    .foot img{

        flex: 2;
        height: 100px;
        width: 10px;
        padding: 2px;
    }
    
    .btn{
    
        display: flex;
        flex-direction: column;
        flex: 2;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .btn a:link, a:visited{

        padding: 20px;
        font-family: "Raleway", Helvetica, sans-serif;
        font-size: 15px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #F0F7F4;
        background-color: #508AA8;
        text-align: center;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        outline: none;
        cursor: pointer;
        border-radius: 45px;
        transition: all 0.3s ease 0s;

    }

    .btn a:hover{

        background-color: #C4E0F9;
        box-shadow: 0px 15px 20px #67AAF9;
        color: #166088;
        transform: translateY(-7px);
    }    
}

/* D E S K T O P */
@media screen and (min-width: 601px) {
    body{

        position: absolute;
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .container {

        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    header {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        width: 100%;
        background-image: linear-gradient(to right, #D3EEE7, #6CC6AE);
        box-shadow: 0 0 5px 0 grey;
        font-family: "Raleway", Helvetica, sans-serif;
    }
    
    .logo {
    
        flex: 2;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px 5px;
    }
    
    .logo h1{
    
        color: #112C25;
        font-size: 35px;
        padding: 3px;
    }
    
    .logo img{
    
        padding: 3px;
    }
    
    .navbar {
    
        flex: 2;
        padding: 5px 5px;
    }
    
    .nav_links{
    
        display: flex;
        justify-content: flex-end;
    }
    
    .nav_links ul li{
    
        padding: 3px;
    }
    
    .nav_links li a{
    
        position: relative;
        color: #112C25;
        font-size: 17px;
        padding: 0 10px;
    }
    
    .nav_links li a::after{
    
        content: "";
        position: absolute;
        background-color:#112C25;
        border-radius: 100px;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    
    .nav_links li a:hover::after{
     
        width: 99%;
    }

    .nav_links ul li select{

        display: flex;
    }
    
    .main {
    
        display: flex;
        flex: 2;
        flex-direction: row;
    }

    .content {

        display: flex;
        flex: 3;
        padding-top: 2px;
        flex-direction: column;
    }

    .content blockquote{

        display: flex;
        flex-direction: column;
        flex: 3;
        border: none;
        background-image: url('background.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       }
    
    .content h5{
    
        display: flex;
        padding: 20px 80px;
        justify-content: flex-start;
        align-items: center;
        color: #F6F4F6;
        font-size: 60px;
        font-family: 'Handlee', cursive;
        text-shadow: 2px 2px 5px #221C22;
    }

    .content cite{

        display: flex;
        justify-content: flex-end;
        text-align: center;
        padding: 5px 10px 5px 5px;
        color: #F6F4F6;
        font-size: 20px;
        font-family: 'Handlee', cursive;
        text-shadow: 2px 2px 5px #221C22;
    }

    .para {

        display: flex;
        flex: 3;
        background-image: linear-gradient(to bottom, #99d6c900, #fff);
        border: none;
        outline: none;
    }
    
    .content p{

        flex: 2;
        display: flex;
        padding: 30px 90px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #2BA189;
        text-shadow: 3px 3px 3px #DFF6F2;
        font-size: 25px;
        font-family: 'Delius', cursive;
        border: none;
    }

    .foot{
    
        display: flex;
        flex-direction: row;
        flex: 3;
        padding: 10px;
        justify-content: space-between;
    }
    
    .foot img{

        flex: 2;
        height: 30vh;
        width: 100%;
    }
    
    .btn{

        display: flex;
        flex: 2;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .btn a:link, a:visited{

        padding: 20px;
        font-family: "Raleway", Helvetica, sans-serif;
        font-size: 15px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #F0F7F4;
        background-color: #508AA8;
        text-align: center;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        outline: none;
        cursor: pointer;
        border-radius: 45px;
        transition: all 0.3s ease 0s;

    }

    .btn a:hover{

        background-color: #C4E0F9;
        box-shadow: 0px 15px 20px #67AAF9;
        color: #166088;
        transform: translateY(-7px);
    }
}
